<h1>記事見るよ</h1>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>こめ:</h2>
<%= render "comments/form" %>

<%= link_to 'もどる', articles_path %>
| <%= link_to 'いじる', edit_article_path(@article) %>